:root {
  --body-bg-color: var(--gray-1);
  --body-line-height: 1.75rem;
  --button-font-size: var(--fonts-4);
  --button-padding: 1rem;
  --button-font-weight: var(--font-weight-bold);
  --button-border-width: 0.125rem;
  --code-font-size: var(--fonts-4);
  --link-color: var(--indigo);
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: 1.5;
  --headings-margin-bottom: var(--space-3);
  /* --body-font-size: var(--fonts-3); */
  --chip-font-size: 0.875rem;
  /* --font-family: 'EB Garmond', serif;
  --headings-font-family: var(--font-family); */
  --headings-font-weight: 400;
  --chip-link-color: var(--white);
}

[icon="36"] {
	height: 36px;
	vertical-align: text-bottom;
}

[icon="72"] {
	height: 72px;
	vertical-align: text-bottom;
}

[column] {
  margin: 0 auto;
  max-width: 1240px;
}

@media screen and (max-width: 48rem) {
  :root {
    --h1: var(--fonts-8);
    --h2: var(--fonts-6);
    --h3: var(--fonts-4);
  }
}